<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
           <div class="three wide column">
                <h4 class="ui inverted header">Powered by</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.powered_by %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">友情链接</h4>
                <div class="ui inverted link list">
                    <a class="item" href="https://saythanks.io/to/{{ site.author }}" target="_blank">Say Thanks</a>
                    <a class="item" href="http://byr-navi.com/" target="_blank">北邮人导航</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">封面投稿</h4>
                <div class="ui inverted link list">
                    <div class="item">欢迎投稿自己的摄影或写真作品</div>
                    <div class="item">本期封面来自<a class="item" href="https://baike.baidu.com/item/%E5%A5%B3%E6%9C%8B%E5%8F%8B/2800938" target="_blank">作者家属</a>.</div>
                    <br>
                    <a class="item" href="mailto:tougao_swufe@yahoo.com" target="_blank">点击投稿</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ site.name }}</h4>
                <div class="ui inverted link list">
                    <div class="item">&copy; {{ site.time | date: "%Y" }} {{ site.organization }}</div>
                    <div class="item">Designed and built with all the love and passion in the world by {{ site.author }}.</div>
                    <div class="item">模板来自<a class="item" href="http://byr-navi.com/" target="_blank">北邮人导航</a>.</div>
                </div>
            </div>
        </div>
    </div>
</div>
